html, body {
	width: 100%;
	height: 100%;
}

body {
	font: {
		family: $varela;
		size: 18px;
  }
  height: 1000px;
}

#main {
	display: block;
  padding-top: 70px;
	@include clearfix;
}

a {
	color: $black;
}


// COMMON CLASSES

.aligncenter {
	text-align: center;
}

// RANDOM ID's
