html, body {
	width: 100%;
	height: 100%;
}

body {
	font: {
		// family: $monty;
		family: $josefin;
		size: 18px;
  }
}

#main {
	display: block;
  padding-top: 0;
	@include clearfix;
}

a {
	color: $black;
	&:hover {
		color: $tan;
	}
}


// COMMON CLASSES

.aligncenter {
	text-align: center;
}

.btn {
	border-radius: 50px;
	width: 100px;
}

// RANDOM ID's


// MEDIA QUERIES

@media ( min-width: 768px ) {
	#main {
		padding-top: 30px;
	}
}
