body {
	position: relative;
	font: {	
    // family: $iceland, cursive !important;
		family: $varela;
		size: 18px;
	}

}

main {

}

a {
	color: $darkgreen;
}


// COMMON CLASSES

.aligncenter {
	text-align: center;
}

// RANDOM ID's
