// Colors

$black: #000;
$white: #fff;

$red: #ff0000;
$blue: #0000ff;
$green: #00ff00;

$pink: pink;
$orange: orange;
$yellow: yellow;
$brown: brown;
$grey: grey;
$tan: tan;
$darkgreen: darkgreen;

// SECTIONS

$bottom: deepskyblue;

// EXTRAS

$test: 20px 0;

// Fonts

$varela: "Varela Round", sans-serif;
$iceland: "Iceland", cursive;
$primaryFont: Arial, Helvetica, sans-serif;