section.family {
  display: block;
  background-color: $white;
  color: $black;
  margin: 40px 0 30px;
  padding: 20px 0;
  min-height: 700px;

  .cpt-menu {
    list-style: none;
    @include aligncenter;
    margin: 0 auto;
    padding: 0;
    li {
      font-size: 18px;
      margin-bottom: 30px;
      a {
        &:hover {
          text-decoration: none;
        }
      }
      i {
        padding-left: 8px;
        margin-bottom: 30px;
      }
      .name-list {
        display: none;
        list-style: none;
        padding: 0;
        li {
          font-size: 16px;
          margin-bottom: 10px;
        }
      }
    }
  }

  .cpt-menu-blocks {
    @include aligncenter;
    margin: 0 auto;
    padding: 0;
    .family-box {
      min-height: 100px;
      padding: 0 2em;
    }
  }
}


//  MEDIA QUERIES

@media ( min-width: 992px ) {
  section.family {
    margin: 70px 0 30px;
    padding: 50px 0;

    .cpt-menu {
      li {
        font-size: 20px;
        .name-list {
          li {
            font-size: 18px;
          }
        }
      }
    }

    .cpt-menu-blocks {
      .family-box {
        min-height: 170px;
      }
    }

  }
}
