section.page-top {
  display: block;
  background-color: $white;
  color: $black;
  margin: 0 0 30px;

  .post-box {
    border-bottom: 2px solid $brown;
    // min-height: 300px;
    margin: 10px;
    padding-bottom: 30px;
  }
}


//  MEDIA QUERIES

@media ( min-width: 992px ) {
  section.page-top {
    margin: 30px 60px 0;
    .post-box {
      margin: 30px 30px 0;
    }
  }
}
