.single-person {
  background-color: $white;
  padding: 40px 0;
  .person-image {
    margin: 0 auto;
    width: 100%;
    box-shadow: $shade;
  }
  .person-details {
    margin: 30px auto;
    list-style: none;
    td {
      padding: 0 30px;
    }
    h3 {
      margin: 0 0 10px;
    }
  }
  h2 {
    margin-bottom: 40px;
  }
}

// MEDIA QUERIES

@media ( min-width: 768px ) {

}
