.single-person {
  background-color: $white;
  margin-top: 40px;
  padding: 0;
  h3 {
    text-decoration: underline;
    margin-bottom: 20px;
  }
  .person-image {
    background: {
      size: cover;
      position: center;
      repeat: no-repeat;
    }
    height: 300px;
    margin: 0 auto 30px;
    width: 100%;
    box-shadow: $shadow;
  }
  .person-details {
    margin: 30px auto;
    list-style: none;
    td.right {
      padding: 0 30px;
      position: relative;
      .partner-image {
        width: 110px;
        margin-top: 20px;
        box-shadow: $shadow;
      }
    }
    h3 {
      margin: 0 0 10px;
      text-decoration: none;
      font-size: 20px;
    }
    a {
      color: $tan;
      &:hover {
        color: $black;
      }
    }
  }
  h2 {
    margin-bottom: 40px;
  }
}

article.slides {
  width: 100%;
  height: 200px;
  margin-bottom: 30px;
  .swiper-container {
        width: 100%;
        height: 100%;
    .swiper-slide {
      position: relative;
      background: {
        size: cover;
        position: center center;
        repeat: no-repeat;
      }
      text-align: center;
      font-size: 18px;
      height: 200px;
      .slide-image {
        width: 200px;
        height: 200px;
        box-shadow: $shadow;
        &:hover {
        }
      }
      a {
        position: absolute;
        bottom: 10%;
        left: 0;
        right: 0;
        color: $white;
        width: 25%;
        margin: 0 auto;
        &:hover {
          color: $black;
        }
      }
    }
  }
  .swiper-pagination-progress {
    width: 200px;
    margin: 0 auto;
    right: 0;
    background-color: $white;
    .swiper-pagination-progressbar {
      background-color: $grey;
    }
  }
  .swiper-button-next {
    right: 10px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23D3D3D3'%2F%3E%3C%2Fsvg%3E");
  }
  .swiper-button-prev {
    left: 10px;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23D3D3D3'%2F%3E%3C%2Fsvg%3E");
  }
}

.no-info {
  position: absolute;
  top: 140px;
  left: 0;
  right: 0;
}

// MEDIA QUERIES

@media (min-width: 380px) and (max-width: 768px) {
  .single-person {
    .person-image {
      width: 300px;
    }
  }
}

@media ( min-width: 768px ) {
  .single-person {
    padding: 40px 0;
    .person-image {
      width: 100%;
      height: 400px;
    }
    .person-details {
      h3 {
        font-size: 24px;
      }
    }
  }
  article.slides {
    height: 180px;
    .swiper-container {
      height: 100%;
      .swiper-slide {
        height: 180px;
        .slide-image {
          width: 180px;
          height: 180px;
        }
      }
    }
    .swiper-pagination-progress {
      width: 180px;
    }
  }
}

@media ( min-width: 992px ) {
  .single-person {
    .person-image {
      width: 400px;
    }
  }
  article.slides {
    .swiper-button-next {
      // right: 50px;
    }
    .swiper-button-prev {
      // left: 50px;
    }
  }
}
