.single-person {
  background-color: $pink;
  padding: 40px 0;
  .person-image {
    margin: 0 auto;
    width: 100%;
    box-shadow: $shade;
  }
  .person-details {
    margin: 30px auto;

    list-style: none;
    td {
      padding: 0 20px;
    }
  }
}

// MEDIA QUERIES

@media ( min-width: 768px ) {
  
}
